<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- ADD ALL YOUR CSS DEPENDENCIES HERE... -->
  <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.css">
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 
  <!-- DO YOUR THING HERE... -->
  <body>
    <p th:text="'Hello, ' + ${name} + '!'" />
  </body>
 
  <!-- ADD ALL YOUR JS DEPENDENCIES HERE... -->
  <script src="webjars/jquery/jquery.js"></script>
  <script src="webjars/bootstrap/js/bootstrap.js"></script>
</body>
</html>